{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'auctions/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand mb-0 h1" href="#">Auctions</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'auctions:index' %}">Active Listings <span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:categories' %}">Categories</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:watchlistpage' username=user.username %}">Watchlist <span class="badge badge-success">{{wcount}}</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:create' %}">Create Listing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:mywinnings' %}">Your Winnings</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:logout' %}">Logout</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:login' %}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:register' %}">Register</a>
                  </li>
                {% endif %}
              </ul>
              <div class="form-inline my-2 my-lg-0 text-light">
                {% if user.is_authenticated %}
                  Signed in as &nbsp;<strong>{{ user.username }}</strong>
                {% else %}
                  Not signed in
                {% endif %}
              </div>
            </div>
          </nav>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
